
@import '../../../styles/variables';

footer {
  background-color: $basic;
  display: flex;
  height: 64px;
  align-items: center;
  padding: 0 16px;

}

a, img {
  display: block;
  position: relative;
  height: 80%;
}

.spacer {
  flex: 1 1 auto;
}
